
<script type="text/javascript">
var ab = 0;
function asdff() {
	window.open('https://www.youtube.com/channel/UC58jzx6Qjv1maKVYdRp3zpQ?sub_confirmation=1');

ab = ab + 5;
document.getElementById('button2').style.backgroundColor = '#00CC00';
document.getElementById('button2').value = "*DESBLOQUEADO BAJAME :D";
}
function asdf() {
<!-- REPLACE THE "#################" WITH YOUR DOWNLOAD LINK -->
if ( ab == 5){
window.open('https://gist.github.com/abdiasriver/af439583fbc58d6b8d5025e51bb5297a');
}
else {}
}
function adf(){
window.open('you-dont-need-this')
}
</script>

<div class="basic12">
<div class="abd">
<div class="ab5"></div>

	<p class="t1" style="align: center;">CONTENIDO BLOQUEADO!</p>

</div>
<br><center>
<!-- REPLACE THE "###########" WITH YOUR CHANNEL NAME! -->
<input type="Button" id="button1" value="1. Subscribete>>>>" onclick="asdff();" style="font-size:13px"></input>
<input type="Button" id="button2" value="1° EL PASO 1 (BLOCKED)" onclick="asdf();" style="font-size:13px"></input>
</center>
</div>

<style type="text/css">
.t1{
float: center;

font-family: arial;
font-size: 20px;
position: absolute;

margin-top: 2px;
margin-left: 15px;
}

.abd{
width: 300px;
height: 50px;
background-color: #D8D8D8;
}

.basic12{
width: 300px;
height: 230px;
background-color: #585858;
}


	input[id="button2"]{
width:270px;
height:40px;
background:	red ; 
border:0px;
margin:20px auto;
cursor:pointer;
border-radius:0px; 
}
	
	input[id="button1"]{

padding:10px;
display: block;
padding:10px;
color:#fff;
background:#0101DF;
width:220px;
margin:20px auto;
border:0px;
border-radius:0px;
margin-top:5px;
cursor:pointer;
}
input[id="button1"]:hover{
background:#01DF01;
}
input[id="button1"]:hover{
background:#01DF01;
}
</style>
